@font-face {
  font-family: 'MADEOkineSans';
  src: url('/font/MADEOkineSansPERSONALUSE-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADEOkineSans';
  src: url('/font/MADEOkineSansPERSONALUSE-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADEOkineSans';
  src: url('/font/MADEOkineSansPERSONALUSE-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
